/*global styling*/
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  background-color: #f3f3f3;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}